<h1>Place You've Been</h1>
<form action="/places" method="post">
  <label for="city-name">City</label>
  <input type="text" name="city-name" id="city-name">
  <label for="city-info">City Info</label>
  <input type="text" name="city-info" id="city-info">
  <label for="city-image">City Image</label>
  <input type="text" name="city-image" id="city-image">
  <button type="submit">Submit</button>
</form>
