<h1>@Model.GetCityName()</h1>
<h3>@Model.GetCityInfo()</h3>
<img src =@Model.GetCityImage()>
<p>This is the place I've recently travelled to.</p>

<a href='/places/new'>Add another item</a>
<a href='/places'>View Places</a>
