<h1>Locations</h1>
<ul>
@foreach(var place in Model)
{
<li><a href='/places/@place.GetId()'>Place: @place.GetCityName()</a></li>
}
</ul>
<a href="/places/new">Add a new place</a>
<form action='places/delete' method='post'>
<button type="submit" name="button">Clear All</button>
</form>
